<phpunit bootstrap="../bootstrap.php"
         colors="true"
         stopOnError="true"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         convertErrorsToExceptions="false"
         verbose="true"
         report-useless-tests="true"
    >

    <testsuites>
        <testsuite name="VirusTotal API wrapper Test Suite" >
            <directory>../Src/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">../Src</directory>
        </whitelist>
    </filter>

    <php>
        <const name="apiKey" value="fakeKey"/>
    </php>
</phpunit>
